<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivere.app.vivere">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".addAppointment"
            android:label="Add Appointment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".viewAppointment"
            android:label="View Appointment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".viewHabits"
            android:label="View Habits"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".addAppointmentDate"
            android:label="Select Date"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".addAppointmentTime"
            android:label="Select Time"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".viewAdvice"
            android:label="View Advice"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".addExam"
            android:label="Add Exam"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".addExamDate"
            android:label="Select Date"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".addExamTime"
            android:label="Select Time"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".addMedication"
            android:label="Add Medication"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".addHabit"
            android:label="Add Habit"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".viewExam"
            android:label="View Exam"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".viewMedication"
            android:label="View Medication"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".notification.YOHabit"
            android:label="YOHabit"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".notification.NOHabit"
            android:label="NOHabit"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--SERVICES-->

        <service
            android:name=".VivereNotificationService"
            android:exported="false"/>

        <receiver android:name=".notification.NotificationPublisher" />

    </application>

</manifest>